.App {
  text-align: center;
}

.headings {
  margin-top: 10px;
  margin-bottom: 5px;
}

.dropdownBlock {
  margin-bottom: 50px;
}

.but {
  justify-content:flex-end;
}

.box {
  height: 20px;
  width: 20px;
  margin-bottom: 15px;
  border: 1px solid black;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}